*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    min-width: 900px;
    background-color: #f5f5f5;
}
#root{
    height: 100%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,p{
    margin-bottom: 10px;
}

a{
    text-decoration: none;
}



:global(.fluid-container){
    display: flex;
    flex-direction: column;
    padding: 0 120px;
}




:global(.block){
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100,.1);
    :global(.code){
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        padding: 10px 10px;
        background-color: #f5f5f5;
        margin-bottom: 10px;
    }
}